/* Global styles for the entire application */

body {
  font-family: "Raleway", sans-serif;
  background-color: #fffdf6;
}

h1 {
  color: #5ca43e;
}

.navbar,
h1,
h2 {
  font-family: "Englebert", sans-serif;
}

h5 {
  font-weight: bold;
  font-size: 17px;
}

.page-container {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

.success {
  color: green;
}

.failure {
  color: red;
}
